
<style>
<<<<<<< HEAD
.product-item
{
=======
  .product-item
  {
>>>>>>> 82c9951f63c428e6052decd952c57d776236b73e
  font-family:roboto;
  font-size:16px;
  line-height:22px;
  letter-spacing:0px;
<<<<<<< HEAD
}
.main-menu__item
{
  font-family:roboto;
  font-size:16px;
  font-weight:bold;
}
.porky
{
=======
  }
  .main-menu__item
  {
  font-family:roboto;
  font-size:16px;
  font-weight:bold;
  }
  .porky
  {
>>>>>>> 82c9951f63c428e6052decd952c57d776236b73e
  font-family:roboto;
  font-size:13px;
  font-weight:bold;
  line-height:16px;
  letter-spacing:0px;
<<<<<<< HEAD
}
.copyright
{
  font-size:12px;
  line-height:16px;
  color:#fefefe;
}
p
{
  color:white;
}
.sub-menu__item a,
.main-menu__item a
{
  color:white;
}
body
{
  background-color:#8a9c8f;
}
.sort__header
{
  font-size: 14px;
  color:white;
  line-height:16px;
  font-weight:normal; 
}

.toddler legend
{
  font-size:14px;
  color:white;
  line-height:16px;
  font-height:normal;
}
.fat__content legend
{
  font-size:14;
  line-height:16px; 
  font-height:normal;
  color:white;
}
.fat__content label
{
  color:white;
  font-size: 16px;
  line-height:18px;
  font-height:normal;
}
.fillers legend
{
  color:white;
  font-size:14px;
  font-height:normal;

}
.fillers label
{
 font-size:16px;
 line-height:18px;
 color:white;
}
.catalog .product-item__price
{
  font-size:45px;
  line-height:45px;
  color:white; 
}
.product-item .product
{
  font-size:16px;
  line-height:22px;
}
.product-item .small
{
  font-size:30px;
  line-height:45px;
}
.pages a
{
  font-size:16px;
  line-height:18px;
  color:white;
}
.underscore
{
  font-size:13px;
  line-height:16px;
  color:#f7f8f8;
}
.main-menu__item>a
{
  font-height:bold;
  font-size:16px;
}
.bread__crumbs a,
.bread__crumbs li
{
  font-size:14px;
  line-height:16px;
  font-height:normal;
  color:#f8faf9;
}
.phone
{
  font-size:22px;
  line-height:24px;
}
.worktime
{
  font-size:14px;
  line-height:16px;
}
h2
{
  font-size:35px;
  line-height:41px;  
  color:white;
}
=======
  }
  .lines_1,
  .stroke_2
  {
  font-size:13px;
  line-height:16px;
  }
  .copyright
  {
  font-size:12px;
  line-height:16px;
  }
  p
  {
  color:white;
  }
  .sub-menu__item a,
  .main-menu__item a
  {
   color:white;
  }
  body
  {
  background-color:#8a9c8f;
  }
>>>>>>> 82c9951f63c428e6052decd952c57d776236b73e
</style>
  