body
{
  margin: 0;
  padding: 0;
 font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #323232;
  background-color:#849d8f;
}
.hidden
{
  display:none;
}
.main-slider__button
{
  display: inline-block;
  padding: 9 41px;
  height: 64px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 58px;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 65px;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.main-slider__button:hover
{
  background: #f17e65;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.main-slider__button:active {
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* Grid */
.container
{
  margin: 0px 39px;
  width: 1170px;
  margin-left:10px;
}
.row-flex
{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top:-44px;
  margin-left: 15px;
}
.column-50:first-child
{
  width:562px;
  height:229px;
  padding: 0px 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.column-50:last-child
{
	width:560px;
	height:229px;
}
.row-flex
{
	width:1161px;
}
.column-25
{
  width: 25%;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Header */
.left_hand_side
{
 margin-left:355px;
}
.hidden_layer_caps
{
  margin-top:5px;
  margin-left:15px;
}
.main-header
{
  padding: 9px 0;
}
.main-header__menu-wrap
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-direction:row;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.main-menu
{
  padding: 0;
  margin: 14px 0 0 11px;
  list-style: none;
  font-size: 0;
}
.main-menu__item
{
  display: inline-block;
  margin-right: 2px;
  padding: 7px 13px;
}
.main-menu__item a
{
  position: relative;
  display: inline-block;
  color: #fdf9f8;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
/*  border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}
.main-menu__item a::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.main-menu__item:hover
{
  border-bottom: 0;
  background-color: #fff;
  border-radius: 50px;
}
.main-menu__item:hover a
{
  color: #333333;
}
.sub-menu__link
{
  position: relative;
}
.sub-menu
{
  position: absolute;
  left: -100px;
  top: 37px;
  padding: 10px 6px 0px 6px;
  margin: 0;
  min-width: 131px;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.sub-menu__link:hover .sub-menu
{
  opacity: 1;
  left: -6px;
  z-index: 10;
}
.sub-menu__item
{
  padding-left: 15px;
  padding-bottom: 13px;
}
.sub-menu__item a
{
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}
.sub-menu__item--title
{
  margin-bottom: 9px;
  border-bottom: 1px solid #d1d0ce;
  padding-bottom: 10px;
}
.sub-menu__item--title a
{
  font-weight: 700;
}
.worktime
{
  width:153px;
  color:#f6f8f7;
  font-size:14px;
  color:white;
  font-weight:bold;
  margin-top:-86px;
  margin-left:983px;
}
header .phone
{
  color:#f6f8f7;
  font-size:22px;
  text-decoration:none;
  font-weight:bold;
  margin-top:0px;
  margin-left:969px;
}
.main-slider__title
{
  color:white;
  font-weight:bold;
  font-size:60px;
  line-height:60px;
}
.main-slider__item
{
  text-align: center;
}
.product-item__price
{
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  margin-top: -70px;
  text-align: left;
}
.benefit_1 span
{
	width:40px;
	height:40px;
    background:url("img/iceca_ice_cream.png")no-repeat;
}
.product-item__button {
  color: #fceae6;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  background-color: red;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  padding: 11px 22px;
  text-decoration: none;
  display: inline-block;
}
.product-item {
  text-align: center;
}
.product-item:hover
{
	width:294px;
	height:405px;
	background-color:#9bafa3;
	border-radius:5px;
}
.small
{
  color:white;
  font-size:30px;
  font-weight:bold;
}
.product
{
  color:white;
  font-family:roboto;
  font-size:16px;
  font-weight:medium;
  line-height:22px;
  text-align:center;
}
.benefits__title
{
  width:1015px;
  color:#333333;
  font-size:24px;
  line-height:30px;
  font-weight:medium;
}
.benefit__description
{
  color:#323232;
  font-size:16px;
  font-weight:Regular;
  line-height:22px;
}
.address
{
  color:#323232;
  font-size:14px;
  font-weight:normal;
  line-height:20px;
}
.information .address+p
{
  color:#323232;
  font-size:18px;
  font-weight:bold;
  line-height:24px;
}
.number
{
  color:#f4f6f5;
  font-size:18px;
  font-weight:bold;
  line-height:22px;
}
.working__hours
{
  color:#323232;
  font-weight:normal;
  font-size:14px;
  line-height:22px;
}
.suppliers .underscore
{
  color:#c3cfc9;
  font-weight:normal;
  font-size:13px;
  line-height:18px;
}
.suppliers .porky
{
  color:white;
  font-size: 13px;
  line-height: 18px;
  font-weight:bold;
}
.document ins
{
  color:#b9c7bf;
  font-size:13px;
  line-height:18px;
}
.copyright,
.copyright a
{
  color:#fefefe;
  font-size:12px;
  font-weight:normal;
  line-height:18px
}
.new-article
{
  width:1146px;
  height:306px;
  background:url("img/wafers.png")no-repeat;
}
.subscribe
{
  width:560px;
  height:222px;
  background: url("img/subscription.png")no-repeat;
}
.information
{
  padding-top:62px;
  margin-top:40px;
  width:1250px;
  height:430px;
  background:url("img/map_ice.png")no-repeat;
}
.information div
{
  width:302px;
  height:305px;
  border-radius: 15px;
  margin-left:871px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 88;
}
.information p
{
	padding-left:26px;
}
.mail
{
  width:240px;
  height:44px;
  border-radius: 5px;
  margin-top:20px;
  margin-left:19px;
}
.entrance_registration .password
{
margin-top:20px;
margin-left:19px;
width:238px;
height:44px;
border-radius:5px;
}
.entrance_registration .login__button
{
	margin-top:20px;
	margin-left:19px;
}
.review
{
  width:477px;
  height:442px;
  background-color:#f8f7f4;
}
.write
{
  width:429px;
  height:153px;
  border-radius: 5px;
}
/*
.input-search
{
  width:310px;
  height:44px;
  border-radius: 6px;
  margin-top:20px;
}
*/
.quest
{
  /*display:none;*/
  color:#f8f7f4;
  width:340px;
  height:84px;
  background-color:#f8f7f4;
  border-radius:5px;
  margin-left:50px;
}
.bestsellers img
{
  width:267px;
  height:267px;
}
.logo
{
  width:154px;
  height:64px;
}
.entrance_registration
{
	/*display:none;*/
	background-color:#f8f7f4;
	width:277px;
	height:214px;
	margin-left:205px;
}
.button_empty
{
	margin-left:10px;
}
.logo-footer
{
  width:108px;
  height:39px;
}
.ice__cream__icon
{
  width:49px;
  height:49px;
  background:url("img/iceca_ice_cream.png")no-repeat;
}

.benefit_1 p
{
	width:485px;
	float:left;
}
.benefit_2 p
{
	width:474px;
}
.forgot_password
{
	margin-top:-10px;
	margin-left:21px;
}
.new_registration
{
	margin-left:120px;
}
.bread__crumbs a,
.bread__crumbs li
{
  color:#d1dad5;
  line-height:16px;
  font-size:14px;
  font-weight:Regular;
}
.caption
{
  color:white;
  font-size:35px;
  line-height:41px;
  font-weight:bold;
}
.sort__header
{
  color:#e3e9e5;
  font-size:14px;
  font-weight:medium;
  line-height:16px;
}
.filter
{
	width:195px;
	height:54px;
}
.first_party
{
  display:flex;
  flex-direction:row;
}
.toddler legend
{
  color:#e3e9e5;
  font-size:14px;
  font-weight:medium;
  line-height:16px;
}
.filter-form
{
  color:#f8f9f9;
  background-color:#a9b9af;
  width:194px;
  height:36px;
  border-radius:20px;
}
.fat__content legend
{
  color:#e3e9e5;
  font-size:14px;
  font-weight:medium;
  line-height:16px;
}
.fat__content label
{
  color:#e3e9e5;
}
.richness
{
	width:417px;
	height:36px;
	background-color:#abbcb2;
	border-radius:30%;
}

.fillers legend
{
  color:#e3e9e5;
  font-size:14px;
  font-weight:medium;
}
.fillers label
{
  color:#e0e6e3;
  font-size:16px;
  font-height:medium;
  line-height:18px;
}
.filter-form  option
{
  color:#e2e8e5;
  font-size:16px;
  font-weight:medium;
  line-height:18px;
}
.hit
{
  width:61px;
  height:61px;
}
.main-slider__item_2,
.main-slider__item_3
{
	display:none;
}
.main-slider 
{
 margin-top:-102px;
 margin-left: 278px;	
}
.production img
{
  width:200px;
  height:200px;
  margin-left:20px;
}
.product-item  .product
{
  color:#d3dcd7;
  font-size:16px;
  font-weight:medium;
  line-height:22px;
  width:252px;
}
.pages
{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	margin-right:300px;
	
}
.pages a
{
  color:#d8e0db;
  font-size:16px;
  font-weight:medium;
  line-height:18px;
  margin-right:10px;
}
ul
{
  list-style-type:none;
}
.second_digit
{
  background-color:white;
  width:26px;
  height:26px;
  border-radius:50%;
  color:#323232;
  padding-left:10px;
  margin-right:12px;  
}
.socials img
{
  width:110px;
  height:40px;
}
.underscore
{
  color:#c9d4ce;
  font-size:13px;
  font-height:Regular;
  line-height:16px;
}
.gen .porky
{
  color:#d9e0dc;
  font-size:13px;
  font-height:bold;
  line-height:16px;
}
.copyright,
.copyright a
{
  color:#c7d2cc;
  font-size:12px;
  font-height:Regular;
  line-height:16px;
}
.logo-footer
{
  width:108px;
  height:39px;
}
.main-menu>li>a
{
  color:#eef1ef;
  font-size:16px;
  font-weight:bold;
  line-height:18px;
}
.button_scan
{
  width:32px;
  height:32px;
}
.ingress
{
  width:92px;
  height:32px;
}
.main-slider .main-slider__image
{
  width:644px;
  height:582px;
}
.main-slider .main-slider__title
{
  color:white;
  font-size:60px;
  font-weight:60px;
  font-weight: bold;
  margin-top:-280px;
  margin-left:-13px;
  width:670px;
  text-align:center;
}
.main-slider__button
{
  color:white;
  width: 280px;
  height: 45px;
  font-size:32px;
  line-height:44px;
  font-weight:bold;
  margin-top:-28px;
  margin-left:182px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.pile
{
  display:flex;
}
.benefit_1
{
  width:485px;
}
.benefit_2
{
  width:530px;
}
.benefit_3
{
  width:486px;
}
.benefit_4
{
  width:480px;
}
.benefit_1,
.benefit_3
{
	margin-right:26px;
	margin-left:21px;
}
.subscribe__description
{
  color:#5a5a5a;
  width:510px;
  font-size:16px;
  font-weight:Regular;
  line-height:22px;
  padding-top:17px;
  padding-left:26px;
}
.subscription .text_field
{
 width:366px;
 height:39px;
 border-radius:0px;
 margin-top:20px;
 margin-left:25px;
 padding-left;20px;
}
.subscription .send_button
{
	padding-top:0px;
	padding-left:0px;
}
.address
{
  color:#8b8b8b;
  font-size:14px;
  font-weight:Regular;
  line-height:20px;
}
.Street
{
  color:#383838;
  font-size:18px;
  font-weight:bold;
  line-height:24px;
}
.number
{
  color:#444444;
  font-size:18px;
  font-weight:bold;
  line-height:22px;
}
.working__hours
{
  color:#8a8a8a;
  font-size:14px;
  font-weight:Regular;
  line-height:22px;
}
.best-offers
{
	display:flex;
	flex-direction:row;
	/*justify-content: space-between;*/
	/*align-items: flex-start;*/
}
.best-offers div
{
/*
    display:flex;
    flex-direction: column;
*/
	border-radius:15px;
}
.row-flex .column-50:first-child
{
	margin-right:27px;
}
.best-offer__button
{
  color:#fceae6;
  font-size:18px;
  font-weight:bold;
  line-height:24px;
  background-color:red;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius:30px;
}
.best-offer--raspberry
{
/*
  width:550px;
  height:229px;
*/
  background-color:red;
  background: url("img/raspberriesbg.jpg") no-repeat;
/*
  margin-top:3px;
  margin-left:26px;
  padding-right:10px;
  background-size:572px;
  background-position:-2px -3px;
*/
}
.best-offer--choko
{
/*
	width:561px;
    height:228px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 26px;
*/
    background: url("img/chocolatebg.jpg") no-repeat;
/*
	background-size:572px;
	background-position:-4px;
*/
}
.best-offer__title
{
  color:white;
  font-weight:bold;
  font-size:35px;
  line-height:41px;
  text-align: left;
}
.best-offer--choko h3
{
  margin: -5px -2px 9px;	
}
.best-offer--raspberry h3
{
  margin: -5px 0px 20px;
}
.best-offer__description
{
  font-size:18px;
  font-weight:bold;
  line-height:22px;
  color:white;
  text-align: left;
}
.best-offer--choko p
{
  margin: 14px -2px 20px;
}
.best-offer--choko a
{
  margin: 25px 2px 20px;	
}
.best-offer--raspberry p
{
  margin: -5px 0px 40px;	
}
.best-offer__button
{
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
}
.best-offer--raspberry a
{
  margin: 4px 2px 40px;	
}
/*
.best-offer--choko h3
{
  color:white;
  font-size:35px;
  font-family:roboto;
  font-weight:bold;
  margin-top:12px;
  margin-left:19px;
}
*/
/*
.best-offer--choko p
{
	color:white;
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	margin-top:-25px;
	margin-left:20px;
	line-height:22px;
	width:510px;
}
*/
/*
.best-offer--choko a
{
	width:167px;
	height:36px;
	font-size:18px;
	margin-top:25px;
	margin-left:350px;
	padding-top:11px;
	padding-left:22px;
}
*/
.bestsellers img
{
	width: 100%;
  height: auto;
}
.bestsellers ul
{
	display:flex;
	flex-direction:row;
}
.bestsellers .growth
{
	margin-left:-15px;
}
.bestsellers .group_1
{
  margin-left:26px;
}
.socials
{
	display:flex;
	flex-direction:row;
}
.socials li
{
  margin-right:11px;
}
.suppliers
{
    width:113px;
	margin-right:32px;
}
.document
{
	display:flex;
	flex-direction:row;
	width:164px;
	margin-right:232px;
}
.done
{
 display:flex;
 flex-direction:column; 
}
.under_the_picture,
.under_the_picture a
{
	color:#fefefe;
	font-family:roboto;
	font-size:12px;
    font-weight:regular;
}
footer p
{
	margin-left:1000px;
}
.socials img
{
  width:  38px;
  height: 38px;
}
.socials .social__networks
{
	margin-left:11px;
}
.first_social
{
	margin-left:27px;
}
.socials .suppliers
{
	margin-left:213px;
}
.socials .document
{
	margin-left:32px;
}
.site_icon
{
	margin-left:228px;
}
footer .first_social
{
	margin-left:27px;
}
.socials .site_icon .icon
{
	width:114px;
	height:40px;
}
.benefits
{
	background:url("img/wafers.png")no-repeat;
	height:308px;
}
.benefits h2
{
	color:#383736;
	font-family:roboto,Arial;
	font-size:24px;
	font-weight:medium;
    line-height:30px;
}
.benefits p
{
	color:#645f55;
	font-family:"roboto","Arial";
	font-size:16px;
	line-height:22px;
	font-weight:Regular;
}
.blog
{
	display:flex;
	justify-content:center;
	width:1200px;
}
.New_service
{
  width:1549px;
  height:220px;
  margin-top:15px;
  margin-left:27px;
  background-size:560px;
  background-color:red;
  border-radius:15px;
  background-position: 0px 0px;
  background:url("img/Readme_md.jpg")no-repeat;
}
.subscription
{
  width:667px;
  height:220px;
  background:url("img/envelope.jpg")no-repeat;
  background-size:560px;
  margin-top:15px;
  margin-left:-777px
}
.New_service p
{
	color:323232;
	font-family:robot;
	font-weight:medium;
	font-size:18px;
    padding-top:3px;
	padding-left:18px;
	margin-bottom:-19px;
}
.New_service h2
{
	width:285px;
	margin-left:20px;
	line-height:30px;
}
.new-article__title a
{
  color:#323232;
  font-size:24px;
  font-weight:bold;
}
.stratum
{
	float:left;
}

.search-link 
{
  display: inline-block;
  vertical-align: baseline;
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 50%;
  margin-left:0px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/loupe.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.search-link:hover + .search-form__wrap {
  z-index: 10;
  opacity: 1;
  top: 50px;
}
.search-link__wrap {
  position: relative;
  width: 350px;
  margin-top:-3px;
  padding-left: 10px;
  text-align: right;
  box-sizing: border-box;
}
.search-form {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
}
.input-search {
  width: 100%;
  height: 44px;
  padding: 0 13px;
  border-radius: 6px;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
}
.search-form__wrap {
  width: 100%;
  position: absolute;
  right: 0;
  top: 150px;
  max-width: 340px;
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  padding-top: 10px;
  transition: all .3s ease-in-out;
}
.search-form__wrap:hover {
  opacity: 1;
  z-index: 10;
  top: 50px;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left:10px;
}
.dots li {
  display: inline-block;
}
.dots-dot {
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  font-size: 0;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.dots-dot-active {
  background-color: #fff;
}

.best-offer 
{
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.entrance-form__wrap
{
  display:none;
  opacity:1;
  background-color:#f8f7f4;
  width:259px;
  height:194px;
  margin-left:156px;
  margin-top:0px;
  padding-top:20px;
  padding-left:19px;
  border-radius:6px;
}
.form-input
{
	width:224px;
	height:39px;
	border-radius:5px;
	padding-left:15px;
}
.entrance-form .daughter
{
 margin-bottom:20px;
}
 .form-submit
{
  display:inline-block;	
  border:0px;	
  color:#fefefe;
  border-radius:19px 17px 18px 19px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  width: 100px;
  height: 44px;
  margin-top:19px;
  font-size:18px;
  font-family:roboto,sans-serif;
  font-weight:bold;
}
.form-submit+a
{
	margin-top:28px;
	margin-left:18px;
	color:#323232;
	font-family:roboto,sans-serif;
	font-size:13px;
	font-weight:Regular;
}
.form-buttons a:last-child
{
	margin-left:122px;
}
.new_registration
{
 color:#323232;
 font-family:roboto,sans-serif;
 font-size:13px;
 font-weight:regular;
}
.Button_empty
{
	display:inline-block;
	width:100px;
	height:100px;
    border-radius: 0px 0px 0px 0px;
	margin-top:0px;
	margin-left:50px;
}
.word_empty
{
  display:inline-block;
  margin-top:0px;
  margin-left:0px;
  background-color:rgba(255,255,255,0.2);
  color:white;
  font-family:roboto;
  font-weight:medium;
  font-size:14px;
}
.icon_trolley
{
	width:50px;
	height:50px;
	background:url("img/icon_trolley.png")no-repeat;
	
}
.goods
{
	display:none;
  background-color:#f8f7f4;
  width:540px; 
  height:242px;
  border-radius: 5px;
}
.last_line td
{
 border-bottom:1px solid  #cacac7;	
}
.close_up input
{
	font-size:0px;
}
.penultimate
{
	color:#323232;
	width:120px;
	font-size:13px;
	padding-left:16px;
}
.last_line .penultimate
{
	padding-top:0px;
}
.penultimate span
{
	color:#999999;
}
.penultimate+td
{
	width:0px;
}
.product_photo
{
width:42px;
padding-left:10px;	
}
.last_line td
{
	padding-top:21px;
}
.goods p
{
	margin-left:425px;
	
}
.button_issue
{
	margin-left:353px;
}
.product_photo+td
{
	width:286px;
}
.entrance-link
{
  background-color:rgba(255,255,255,0.2);
  position: absolute;
  left: 971px;
  top: 22px;
  width: 75px;
  height: 33px;
  border-radius:23px;
  margin-top:0px;
  padding-left:17px;
}
.entrance-link .input_icon
{
  opacity:1;
  width:20px;
  height:18px;
  margin-top:7px;
  background-size:20px;
  background-image: url("img/login_icon.png");
  background-position:0px 0px;
}
.input_icon+span
{
	margin-top:0px;
	font-family:'roboto',"sans-serif";
	font-size:14px;
	font-weight:medium;
	color:white;
}
.catalog
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:flex-start;
	flex-wrap:wrap;
}
.gen
{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin-left:115px;
}
footer
{
	display:flex;
}